In [1]:
!pip install validator-collection

Requirement already satisfied: validator-collection in /home/mgarcia/snap/jupyter/common/lib/python3.7/site-packages (1.4.1)
Requirement already satisfied: jsonschema in /snap/jupyter/6/lib/python3.7/site-packages (from validator-collection) (3.0.1)
Requirement already satisfied: attrs>=17.4.0 in /snap/jupyter/6/lib/python3.7/site-packages (from jsonschema->validator-collection) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /snap/jupyter/6/lib/python3.7/site-packages (from jsonschema->validator-collection) (0.15.2)
Requirement already satisfied: setuptools in /snap/jupyter/6/lib/python3.7/site-packages (from jsonschema->validator-collection) (41.0.1)
Requirement already satisfied: six>=1.11.0 in /snap/jupyter/6/lib/python3.7/site-packages (from jsonschema->validator-collection) (1.12.0)

In [2]:
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi
import zipfile
import os
import urllib.request, urllib.error
from validator_collection import validators, checkers
import re

In [3]:
project_path = '/home/mgarcia/Documentos/ironhack/ironhack-projects/pandas-project/your-code/'

In [4]:
api = KaggleApi()
api.authenticate()
api.dataset_download_files('teajay/global-shark-attacks')
file = 'global-shark-attacks.zip'
with zipfile.ZipFile(project_path + file, 'r') as zip_ref:
    zip_ref.extractall(project_path)

In [5]:
raw = pd.read_csv(project_path + 'attacks.csv', encoding = 'latin_1')
raw.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

### Hypothesis:
1. Most attacks were unprovoked
2. Most victims were males between 20 and 40 years
3. Most victims were surfing

## Cleaning empty rows

In [6]:
print(raw.shape)
raw.isnull().sum()

(25723, 24)

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [7]:
# if case number is null, maybe all the row is null. Let's check
raw_clean=raw[~raw['Case Number'].isnull()]
print(raw_clean.shape)
raw_clean.isnull().sum()

# indeed :D

(8702, 24)

Case Number                  0
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5231
Injury                    2429
Fatal (Y/N)               2940
Time                      5754
Species                   5238
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8701
Unnamed: 23               8700
dtype: int64

In [8]:
# Also, seems like null dates mean empty row
raw_clean=raw[~raw['Date'].isnull()]
print(raw_clean.shape)
raw_clean.isnull().sum()

# confirm

(6302, 24)

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [9]:
# The dataset has reduce a good amount of data, so now it will be easier to inspect it

raw_clean.to_csv('attacks_clean.csv', ';', quotechar = '"')

 ## Dropping unnecesary columns

In [10]:
# two last columns are empty so we can drop them
#columns = raw.columns
raw_clean = raw_clean.drop(columns=['Unnamed: 22', 'Unnamed: 23'])

# As we're taking Case Number as reference, we don't need the duplicated Case Number columns
raw_clean = raw_clean.drop(columns=['Case Number.1', 'Case Number.2'])

# original order isn't useful for our purposes
raw_clean = raw_clean.drop(columns=['original order'])

In [11]:
# href and href formula looks pretty much the same (href formula has one extra null)
(raw_clean['href formula'] == raw_clean['href']).value_counts()

True     6242
False      60
dtype: int64

In [12]:
#The code below is quite heavy, I wouldn't run it unless I'm sure I have time. 
#The results were:
#requests_failed =0
#invalid_url = 73

#requests_failed = 0
#invalid_url = 0
#for url in raw_clean['href']:
#    if checkers.is_url(url) == True:
#        try:
#            resp = urllib.request.urlopen(url).getcode()
#        except urllib.error.HTTPError as e:
#            if e.code == 404:
#                requests_failed = requests_failed + 1
#    else:
#        invalid_url = invalid_url + 1

#print(requests_failed)
#print(invalid_url)

In [13]:
#So we can drop one of the columns without losing a lot of information as they match at 99%
raw_clean = raw_clean.drop(columns=['href formula'])

In [14]:
# pdf is just the name of the pdf file that stores the data, as long as we can donwload it. 

raw_clean = raw_clean.drop(columns=['pdf'])

## Deleting duplicates

In [15]:
# first check: full duplicate rows
print(sum(raw_clean.duplicated()))
raw_clean = raw_clean.drop_duplicates()

0

In [16]:
# second check: case numbers
print(raw_clean.duplicated(subset='Case Number').sum())

pd.concat(g for _, g in raw_clean.groupby('Case Number') if len(g) > 1)

#Can't drop this like that. Let's check date + country + area to verify duplicity

raw_clean = raw_clean.drop_duplicates(subset=['Case Number', 'Date', 'Country', 'Area'], keep = False)

16

In [17]:
# third check: href. If it points to the same report, it probaby be the same case
print(raw_clean.duplicated(subset='href').sum())

pd.concat(g for _, g in raw_clean.groupby("href") if len(g) > 1)

raw_clean = raw_clean.drop_duplicates(subset=['href', 'Date', 'Country', 'Area'], keep = False)

15

In [18]:
# As we're finished reshaping the dataframe, it's a good moment to reset index
raw_clean=raw_clean.reset_index(drop=True)

## Formatting data

In [25]:
raw_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6263 entries, 0 to 6262
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6263 non-null   object
 1   Date                    6263 non-null   object
 2   Year                    6263 non-null   int64
 3   Type                    6259 non-null   object
 4   Country                 6214 non-null   object
 5   Area                    5809 non-null   object
 6   Location                5726 non-null   object
 7   Activity                5721 non-null   object
 8   Name                    6056 non-null   object
 9   Sex                     5698 non-null   object
 10  Age                     3457 non-null   object
 11  Injury                  6235 non-null   object
 12  Fatal (Y/N)             5726 non-null   object
 13  Time                    2938 non-null   object
 14  Species                 3452 non-null   object
 15  Investigator or Source  6246 non-null   object
 16  href                    6263 non-null   object
dtypes: int64(1), object(16)
memory usage: 831.9+ KB

In [20]:
# Case number should be string
raw_clean['Case Number'] = raw_clean['Case Number'].str.strip()
raw_clean['Case Number'] = raw_clean['Case Number'].astype(str)

In [21]:
# Date should be date, but we have some "Reported"
DateRegex = re.compile(r'\d{2}-\w{3}-\d{4}')

        
#print(~[DateRegex.search(date) for date in raw_clean['Date']])

raw_clean['Date'] = raw_clean['Date'].replace('Reported', '').replace('Before', '').replace('No date', '').replace('Between', '').replace('.', '-').str.strip()

count = 0
for date in raw_clean['Date']:
    if not DateRegex.search(date):
        count = count +1
        #print (date)
print (count)

# This is madness. I'll come back to this later
        
#print (raw_clean['Date'])
#raw_clean['Date'] = raw_clean['Date'].astype('datetime64[ns]')

May 2018
9-Mar-2018
9-Mar-2018
Sep-2017
2017.06.05
Sep-2016
Sep-2015
20-May2015
Sep-2014
Aug-2014
9-Jul-2014
5-Jul-2014
5-Jul-2014
3-Jul-2014
13-May2014
2014
2014
29-Nov2013
December 2012
07-July-2012
Apr-2013
16-Aug--2011
11-Aug--2011
Reported 12-Jan 2011
Jun-2010
190Feb-2010
31-July-2009
Jan-2009
Dec-2008
Sep-2008
Late Jul-2008
2008.01.30
Fall 2008
Summer-2008
November 2011
Jul-2007
May-2007
Feb-2007
Oct-2006
Oct-2006
Aug-2006
Early Aug-2006
July 2006
July 2006
6-Aug-2005
1-Aug-2005
1-Jul-2005
Nov-2004
Aug-2004
2004
Nov-2003
Sep-2003
Jul-2003
Late Jul-2003
Jul-2003
Jun-2003
May-2003
Nov-2002
Jul-2001
May-2001
02-Ap-2001
Mar-2001
Dec-2000
Early Sep-2000
Aug-2000
Jul-2000
Early Jun-2000
Mar-2000
2000
13 -Nov-1999
Nov-1999
Nov-1999
1999
1999
Sep-1998
Apr-1998
Jan-1998
1998
1998
1998
2-Jul-1997
Dec-1996
Dec-1996
Oct-1996
Mar-1996
1996
1996
Aug-1995
Early Jul-1995
Feb-1995
1995
1995
1995
1995
Feb-1994
Last incident of 1994 in Hong Kong
1994
Dec-1993
Nov-1993
Oct-1993
Aug-1993
Aug-1993
Jun-1993
Late May 1993
May 1993
Apr-1993
Mar-1993
04-Feb 1993
Fall 1993
Between May & Nov-1993
1993
1993
Sep-1992
Aug-1992
Jun-1992
May 1992
Jan-1992
1992
Nov-1991
July 1991
Jan-1991
1990
03- Dec-1989
Jun-1989
Apr-1989
1989
1989
Oct-1988
Jul-1988
1988
Nov-1987
Jul-1987
1987
1987
Dec-1986
Oct-1986
Sep-1986
Sep-1986
Aug-1986
Jul-1986
Apr-1986
5-Mar-1986
1986
Mid Jul-1985 or mid Jul-1986
Jan-1985
Jan-1985
1985
1985
Jul-1984
1984
1984
June 1983
24-May 1983
Mar-1983
Ca. 1983
1983
1983
Nov-1982
Late Aug-1982
Jul-1982
May 1982
Mar-1982
1982
1982
1982
Mar-1981
Feb-1981
1981
Summer of 1981
12-30-1980
Late Jul-1980
Early Jul-1980
Apr-1980
Summer 1980
1980s
1980
1980s
05 May 1979
May 1979
May 1979
Mar-1979
1979
Apr-1978`
1978
1978
Dec-1977
Feb-1977
Jan-1977
Nov-1976
1976
Sep-1975
5-Jul-1975
Jun-1975
20-May 1975
Mar-1975
1975
1975
Sep-1974
Mar-1974
Feb-1974
Early Feb-1974
Summer 1974
1974
Dec-1973
Sep-1973
Mar-1973
1973
1973
1973
1972
1972
6-Apr-1971
5-Apr-1971
5-Apr-1971
Late Apr-1971
1971
1971
1971
Nov-1970
Oct-1970
Sep-1970
Sep-1970
5-Jul-1970
Jun-1970
4-Apr-1970
Apr-1970
Apr-1970
5-Feb-1970
Jan-1970
1970s
Late 1970s
Ca. 1970
1970
1970s
1970s
1970s
1970s
Aug-1969
Jun-1969
Feb-1969
Jan-1969
Winter 1969
Dec-1968
Jul-1968
Jun-1968
May-1968
Mar-1968
Feb-1968
1968
1968
1968
Nov-1967
Oct-1967
Aug-1967
Aug-1967
Jul-1967
Jun-1967
Apr-1967
Early Nov-1966
8-Sep-1966
Sep- 1966
Mid Aug-1966
Aug-1966
Apr-1966
Summer of 1996
Oct-1965
Jun-1965
Jun-1965
May-Jun-1965
May 1965
May 1965
Summer 1965
1965
Early 1965
May-Jun-1965
May-Jun-1965
1965
Ca. 1965
Aug-1964
Jul-1964
Jul-1964
May 1964
Mar-1964
Feb-1964
Feb-1964
Jan-1964
Aug-1963
Jul-1963
Jan-1963
Early 1963
1963
Dec-1962
Nov-1962
Oct-1962
Late Aug-1962
Aug-1962
May 1962
Feb-1962
1962
Jan-Jun-1962
Ca. 1962
Oct-1961
Oct-1961
Jul-1961
Jul-1961
Apr-1961
Mar-1961
Feb-1961
1961
1961
1961
1961
Nov-1960
Nov-1960
Nov-1960
Oct-1960
Oct-1960
Oct-1960
Oct-1960
Oct-1960
Aug-1960
Apr-1960
Apr-1960
Apr-1960
1960
1960
Early summer 1960
Late 1960s
1960s
1960-1961
1960
1960
Ca. 1960
Ca. 1960
Dec-1959
Oct-1959
Sep-1959
21764
Late Jul-1959
Jul-1959
May-1959
Mar-1959
Jan-1959
Summer of 1959
Jul- to Sep-1959
1959
1959
1959
1959
1959
Oct-1958
Oct-1958
Jul-1958
Jul-1958
Apr-1958
1958-1959
1958
1958
1958
1958
1958
1958
1958
Circa 1958
Aug-1957
May 1957
Feb-1957
1957
1957
1957
1957
1957
1957
1957
1957
1957
1957
1957
Oct-1956
Sep-1956
Sep-1956
1-Aug-1956
Aug-1956
Aug-1956
Aug-1956
Aug-1956
Aug-1956
May 1956
Mar-1956
1956
1956
1956
1956
1956
1956
1956
1956
Nov-1955
Aug-1955
Aug-1955
May 1955
Apr-1955
Mar-1955
Mar-1955
Feb-1955
1955
1955
1955
1955
Ca. 1955
1955
19955
Jun-1954
May 1954
Apr-1954
1954
1954
1954
1954
1954
1954 (same day as  1954.00.00.f)
1954 (same day as  1954.00.00.f)
Dec-1953
Oct-1953
Aug-1953
Jun-1953
Apr-1953
Apr-1953
Mar-1953
Mar-1953
Mar-1953
Feb-1953
1953
1953
1953
7-Dec-1952
May-1952
Apr-1952
1952-1954
1952
1952
1952
1952
1951.12.15.R
6-Dec-1951
Jun-1951
1951
Aug-1950
1950.07.19
Jul-1950
1950
1950
1950
1950 - 1951
Summer 1950
1950
1950s
1950
Summer 1950
1950
1950
Ca. 1950
Ca. 1950
Dec-1949
Dec-1949
07-July-1949
Mar-1949 or Apr-1949
1949-1950
1949
1949
1949
1949
1949
1949
Aug-1948
Mar-1948
Summer 1948
1948
1948
1948
Dec-1947
Nov-1947
Jul-1947
Apr-1947
Feb-1947
Apr-1946
1946
1946
1946
Jul-1945
1945
1945
1945
1945
Between 18 & 22-Dec 1944
Sep-1944
22-Jul-144
Apr-1944
Some time between Apr & Nov-1944
1944
1944
Aug-1943
Jul-1943
Jul-1943
5-Apr-1943
Summer 1943
1943
1943
Fall 1943
Fall 1943
1943
Nov-1942
Nov-1942
8-Aug-1942
Jun-1942
Jan-1942
1942
Winter 1942
Summer 1942
1942
1942
1942
1942
1942
1942
1942
1942
Jun-1941
Jan-1941
1941
1941
1941
1941
1941
1941
1941
Sep-1940
4-Feb-1940
Ca. 1940
1940
1940
1940
1940
1940
Woirld War II
Ca. 1939
1939
1939
1939
Reported 1938
1938
1938
1938
1938
Reported 26-Sep-t937
1937
1937
Aug-1936
Jul-1936
08-Ap-1936
Jan-1936
1936
Jun-1935
Jun-1935
Mar-1934
May 1932
1932
1931
1931
Dec-1930
1930
Jan-1930
1930
1930
Reported 1929
Ca. 1929
1929
1929
1929
Sep-1928
Late Jul-1928
Feb-1928
Feb-1928
Jan-1928
1928
Oct-1927
Reported 09-May 1927
Feb-1927
1927
1927
Jan-1926
Summer of 1926
1926
1926
1926
Nov-1925
Nov-1925
May 1925
1925
Feb-1923
1923
1923-1924
24-May 1922
Sep-1921
1920s
1920
1920
Reported to have taken place in 1919
1919
Nov-1918
Nov-1918
1918
Nov-1917
Sep-1917
1917
Ca. 1915
1914
12-July-1913
Jan-1913
1913
1913
1913
1912
1911
Ca. 1911
Mar-1910
1910
1910
Jan-1909
1909
Jul-1907
1907
1907
Sep-1906
Jul-1906
Reported 10-April 1906
Reported 02-April 1906
Late Aug-1905
Aug-1905
Jul-1905
1905
Sep-1904
Aug-1904
1904
1904
1904
1904
July-1903
Summer of 1903
Ca. 1903
Jun-1902
Apr-1902
Mid Oct-1901
Summer 1901
Late Jul-1900
Early 1900s
Ca. 1900
1899 During the Seige of Ladysmith
1899
Ca. 1899
Jul-1898
1898.01.24
Reported 1898
1898
1898 (soon after the close of the Spanish-American War)
1898
1898
1898-1899
Summer of 1898
1898
1897
1897
23-Decp1896
1896
1896
Sep-1895
2-Aug-1895
1895
1893
1892
9-Aug-1890
06-26-1890
1890
1890
1890
1890
Ca. 1890
Jan-1889
Dec-1888
Feb-1888
1888
October 1887
1887
Mid-Aug-1886
Mid-Aug-1886
Aug-1886
Mar-1886
1886
1883
Summer of 1883
1883
1883
Sep-1882
1882
1882
1881
Ca. 1881
1880?
Ca. 1880
Ca. 1880
1880
3-Jul-1879
1879
Reported 30-March-1878
1878
Before 1878
1876
1876
1876
1876
Ca. mid-1870s
Reported 18-Jun- 1874
June 1874
1874
09-Jan- 1874
Nov- or Dec-1873
Circa 1872
Aug-1871
Reported 13-May 1871
1871
Before 1871
Before 1871
Early 1870s
1868 (?)
Aug-1867
1867
1865
Sep-1864
Aug-1864
May-1864
Apr-1864
1864
1864
Apr-1863
1863
1863
1863
Reported 1863
Circa 1862
1862
Mar-1861
Oct-1860
Apr-1860
Apr-1860
Reported 14-Jan 1858
Circa 1855
28-Sept-1853
1853
Sep or Oct-1853
1853
1853 or 1854
Aug-1852
1852
Mar-1851
1851
1850
Jul-1848
Reported in 1847
1847
Ca. 1847
Reported 1845
1844.07.16.R
1844
1842
1842
Dec-1840
Feb-1840
1839/1840
Ca. 1839
Jul-1837
Ca. 1837
1836.07.26.R
1836.00.
Reported 22- Jan-1831
1829
1828
Jun-1827
Jun-1827
1827
Dec-1826
Ca. Nov-1826
1820s
Ca . 1825
Reported 03-Sept-1816
October 1815
May 1812
Aug-24-1806
Sep-1805
May-17-1803
Mar-1803
Reported Apr-13-1802
1800
Reported May-28-1797
1791
1779
Reported 1776
1776
1767
1764
1758
1749
1755
1748
1733
1723
June 1721
1700s
1700s
1700s
Late 1600s Reported 1728
Reported 1638
Reported 1637
Reported 1617
1642
1595
1555
Ca. 1554
Ca. 1543
Circa 500 A.D.
77  A.D.
Ca. 5 A.D.
Ca. 214 B.C.
Ca. 336.B.C..
493 B.C.
Ca. 725 B.C.
Before 1939
1990 or 1991
Before 2016
Before Oct-2009
Before 1934
Before 1934
2009?
Before 1930
1880-1899
Before 1909
Before 2012
Before 1916
Between   1951-1963
Before 1908
Before 1900
Before 1876
Before 2012
Before 2011
Before 2011
Before 2009
Beforer 1994
Before 1963
1896-1913
Before 1936
Before 2012
Before 1911
Before 1901
No date, late 1960s
Before 2006
Before 2003
Before 2004
Before 1962
1950s
No date, Before 1963
2003?


Before Feb-1998
No date, Before May-1996
No date, Before Mar-1995
Before 1996
No date, Before Aug-1989
No date, Before Aug-1987
No date, Before 1987
No date, Before  1975
No date, Before 1975
No date, Before 1969
No date, Before 3-Jan-1967
No date, Before 1963
No date, Before 8-May-1965
No date, Before 1963
No date, Before 1902
No date, Before 1902
No date, Before 1963
No date, After August 1926 and before 1936
No date, Before 1963
Before 1962
Before 1962
Before 1961
1960s
1960s
1960s
Before 1960
Before  24 Apr-1959
Before  1958
Before  1958
Before 1958
Before 1958
Before 1958
Before 1958
Before 1957
Before 1957
Before 1956
Before 1956
Before Mar-1956
Before 1952
1941-1945
"During the war" 1943-1945
"Before the war"
Said to be 1941-1945, more likely 1945
1941-1945
1941-1945
1941-1942
1940 - 1950
1940 - 1950
1940 - 1950
1940-1946
Before 1905
World War II
World War II
Before 1905
A few years before 1938

Early 1930s
Before 1927
Between 1918 & 1939



1920 -1923
Before 1921
Before 1911
Before 1921
Before 1921
Before 1917
Before 1911
Circa 1862
Before 1906
Before 1906
Before 1906
Before 1906
Before 1903
Before 1903
1900-1905
1883-1889
1845-1853
951

In [22]:
# as Date is a mess, at least we can fix Year 

raw_clean['Year'] = raw_clean['Year'].fillna(0)


print(raw_clean[raw_clean['Year'] == 0].count()['Year'])
raw_clean['Date'].loc[raw_clean['Year']==0]

# If Date has a year, we can use it to fill the Year gap
for i in range(len(raw_clean['Year'])):
    if raw_clean['Year'][i] == 0:
        if len(re.findall('\d{4}', raw_clean['Date'][i])) > 0:
            raw_clean['Year'][i] = re.findall('\d{4}', raw_clean['Date'][i])[0]

127

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [24]:
print(raw_clean[raw_clean['Year'] == 0].count()['Year'])
raw_clean['Date'].loc[raw_clean['Year']==0]

# The remaining 13 zeros are not important so we can drop them without losing a lot of info

raw_clean['Year'] = [int(round(y)) for y in raw_clean['Year']]
raw_clean=raw_clean[raw_clean.Year!=0]
raw_clean=raw_clean.reset_index(drop=True)

13

In [28]:
# Type has very specific categories but some easy to fix mispellings

print(raw_clean['Type'].value_counts())

raw_clean['Type']=raw_clean['Type'].replace('Boat','Boating')
raw_clean['Type']=raw_clean['Type'].replace('Boatomg','Boating')

raw_clean['Type'].value_counts()

Unprovoked      4566
Provoked         572
Invalid          545
Boating          339
Sea Disaster     235
Questionable       2
Name: Type, dtype: int64

Unprovoked      4566
Provoked         572
Invalid          545
Boating          339
Sea Disaster     235
Questionable       2
Name: Type, dtype: int64

In [33]:
# Sex column has spaces and this may happen in other cases so let's fix them

raw_clean.rename(columns=lambda x: x.strip(), inplace=True)

print(raw_clean['Sex'].value_counts())

# N is right next to M in most keyborads so I can guess is a typo
raw_clean['Sex']=raw_clean['Sex'].replace('N','M')

# Second M category has an space
raw_clean['Sex']=raw_clean['Sex'].replace('M ','M')

print(raw_clean['Sex'].value_counts())

M      5060
F       632
N         2
M         2
.         1
lli       1
Name: Sex, dtype: int64
M      5064
F       632
.         1
lli       1
Name: Sex, dtype: int64

In [39]:
# Age has a lot of NaN values. To avoid future errors, we're filling it with Zero values
print(raw_clean['Age'].value_counts())
print(raw_clean['Age'].isnull().value_counts())

raw_clean['Age'] = raw_clean['Age'].fillna(0)

print(raw_clean['Age'].isnull().value_counts())

# We can also do some stripping in case it hepls
raw_clean['Age'] = raw_clean['Age'].str.strip()
print(raw_clean['Age'].value_counts())

0          2806
17          154
18          150
19          142
20          140
           ...
20?           1
81            1
 43           1
87            1
30 & 32       1
Name: Age, Length: 158, dtype: int64
False    6263
Name: Age, dtype: int64
False    6263
Name: Age, dtype: int64
17             154
18             150
19             142
20             141
15             139
              ...
82               1
Ca. 33           1
mid-20s          1
?    &   14      1
? & 19           1
Name: Age, Length: 149, dtype: int64